
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #e0f7fa;
}

#weather-box {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  display: inline-block;
}

#weather-icon {
  width: 60px;
}

.error {
  color: red;
  margin-top: 10px;
}
#city {
  padding: 8px 17px;
}
button {
  padding: 8px 12px;
  margin-left: 6px;
}

h1 {
  color: rgb(3, 3, 154);
  font-style: bold;
  font-size: 40px;
}